/* spinner from https://loading.io/css/ */
.spinner {
  display: inline-block;
  position: relative;
  height: 1em;
  width: 4em;
}

.spinner div {
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.spinner div:nth-child(1) {
  left: 0;
  animation: spinner1 0.6s infinite;
}

.spinner div:nth-child(2) {
  left: 0;
  animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(3) {
  left: 1.5em;
  animation: spinner2 0.6s infinite;
}

.spinner div:nth-child(4) {
  left: 3em;
  animation: spinner3 0.6s infinite;
}

@keyframes spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
